*{
   margin: 0;
   padding: 0;
   font-family: Arial;
    color: #000;
    text-decoration: none;
  font-family: cursive;
}

body{
    background-image: url("../fondo.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.seccion-principal , .seccion-masvisto{
   
    max-width: 100rem;
   
    margin: auto;
  
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr )) ;
}

.maspost{
    margin: 10px auto;
    max-width: 100rem;
   
}
.paginate{
    margin: auto;
    
    width: 15rem;
    height: 300px;
}
.seccion-masvisto{
  
   
}
  @media (max-width: 1400px) {
        .seccion-principal , .seccion-masvisto {
    
             width: 95vw;
             height: auto;
            
           
             margin-top: 10px;
             
         
             gap: 40px;
         
        }

     

       
    }

      @media (max-width: 550px) {
        .seccion-principal , .seccion-masvisto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
             width: 97vw;
             height: auto;
             margin-top: 10px;
             
         
             gap: 40px;
         
        }

     

       
    }