*{
   margin: 0;
   padding: 0;
   font-family: Arial;
    color: #000;
    text-decoration: none;
  font-family: cursive;
}

body{
    background-image: url("../fondo.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    box-sizing: border-box;
}

.seccion-principal{
   
    max-width: 100rem;
   
    margin: auto;
  
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr )) ;
}
.paginate{
    margin: auto;
    
    width: 15rem;
    height: 300px;
}

  @media (max-width: 1100px) {
        .seccion-principal{
    
             width: 90vw;
             height: auto;
            
             margin: auto;
             margin-top: 10px;
             
         
             gap: 40px;
         
        }

     

       
    }

      @media (max-width: 550px) {
        .seccion-principal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
             width: 97vw;
             height: auto;
             margin-top: 10px;
             
         
             gap: 40px;
         
        }

     

       
    }